.DS_Store
__pycache__/
*.pyc
*.pyo
*.swp
*.swo
.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
htmlcov/
dist/
build/
.esphome/
.ci/
*.egg-info/
.env.local
examples/secrets.yaml
.venv/
/.idea/
/.vscode/
